:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  overflow: hidden;
}

#app {
  margin: 0 auto;
  text-align: center;
}

canvas {
  overflow: hidden;
}

.viewport-icon {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  transform-origin: center;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 32px;
  cursor: grab;
  transition: transform 0.25s, box-shadow 0.1s, filter 0.25s;
  box-shadow: 0 0 24px #00000022;
}

.viewport-icon.selected {
  filter: brightness(1.1);
  box-shadow: 0 0 16px #ffffff59;
}

.viewport-icon:not(.selected):hover {
  transform-origin: center;
  transform: translate(-50%, -50%) scale(1.1);
}

.viewport-icon.selected:hover {
  transform: translate(-50%, -50%) scale(1.05);
  filter: brightness(1.25);
}

.viewport-icon img {
  user-select: none;
  pointer-events: none;
}

.viewport-line {
  position: absolute;
  border-left: 1px dashed #ffffff;
  width: 0;
  transition: opacity 0.25s;
}

.viewport-line:not(.show) {
  opacity: 0;
}

.viewport-line:after {
  content: '×';
  position: absolute;
  transform: translate(-50%, 50%);
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.viewport-arrow {
  position: absolute;
  width: 28px;
  height: 4px;
  left: 50%;
  top: 50%;
  transform-origin: left center;
  /* transform: translateX(-50%); */
}

.viewport-arrowhead {
  position: absolute;
  right: -16px;
  top: -6.5px;
  width: 0;
  height: 0;
  /* border-left: 6px solid white; */
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
}

#hierarchy {
  position: absolute;
  top: 0;
  right: 3em;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.25rem;
}

.hierarchy-item {
  background: #1a1a1a;
  width: 100%;
  display: flex;
  align-items: start;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: 1px solid #00000000;
}

.hierarchy-item:hover {
  cursor: pointer;
  background: #1d1d1d;
}

.hierarchy-item.selected {
  border: 1px solid #343ded;
}

.hierarchy-item:before {
  content: "📦";
}
